<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<div th:fragment="userModalForm">-->
<!--    <div id="edit-modal" class="modal fade" tabindex="-1" role="dialog"-->
<!--         aria-labelledby="myModalLabel" aria-hidden="true">-->
<!--        <div class="modal-dialog">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <button type="button" class="close" data-dismiss="modal"-->
<!--                            aria-hidden="true">-->
<!--                    </button>-->
<!--                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
<!--                </div>-->
<!--                <div class="modal-body edit-content">-->
<!--                    <form class="needs-validation" novalidate name="data[]"-->
<!--                          th:action="@{/admin/editUser}" th:object="${user}" id="formEdit"method="post">-->

<!--                        <div class="form-group text-center">-->
<!--                            <input type="number" class="form-control" id="user_id" name="id"-->
<!--                                   th:min="4" readonly required>-->
<!--                        </div>-->


<!--                        <div class="form-group text-center">-->
<!--                            <label>First name</label>-->
<!--                            <input type="text" class=" form-control" id="firstNameEdit"-->
<!--                                   name="firstName"-->
<!--                                   th:min="4" required>-->
<!--                        </div>-->
<!--                        <div class="form-group text-center">-->
<!--                            <label>Last name</label>-->
<!--                            <input type="text" class="form-control" id="lastNameEdit"-->
<!--                                   name="lastName" required>-->
<!--                        </div>-->
<!--                        <div class="form-group text-center">-->
<!--                            <label>Age</label>-->
<!--                            <input type="number" class="form-control" id="ageEdit"-->
<!--                                   name="age" required>-->
<!--                        </div>-->
<!--                        <div class="form-group text-center">-->
<!--                            <label>email</label>-->
<!--                            <label for="emailEdit">-->

<!--                            </label><input type="email"-->
<!--                                           class="form-control" id="emailEdit"-->
<!--                                           name="email" required>-->
<!--                        </div>-->
<!--                        <div class="form-group text-center">-->
<!--                            <label>Password</label>-->
<!--                            <input type="password" class="form-control" id="passwordEdit"-->
<!--                                   name="password" required>-->
<!--                        </div>-->



<!--                        <select multiple class="selectpicker" name="role[]" id="roleEdit">-->

<!--<option th:text="${user.getId()}"></option>-->

<!--                        </select>-->
<!--                        &lt;!&ndash;                    <div class="invalid-feedback">&ndash;&gt;-->
<!--                        &lt;!&ndash;                        Please select a valid state.&ndash;&gt;-->
<!--                        &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                        &lt;!&ndash;                                                    <button type="submit"  class="btn btn-success mt-4 ">Add new user</button>&ndash;&gt;-->
<!--                        <div class="modal-footer">-->
<!--                            <button type="button" class="btn btn-default"-->
<!--                                    data-dismiss="modal">Close-->
<!--                            </button>-->
<!--                            <button type="submit" class="btn btn-primary">Save changes-->
<!--                            </button>-->
<!--                            &lt;!&ndash;                                                        <button type="submit"  class="btn btn-success mt-4 ">Add new user</button>&ndash;&gt;-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->