
.row.content {
    height: 1500px
}

.sidenav {
    /* background-color: #00BFFF;*/
    height: 100%;
}

.field {
    background-color: #FFFAFA;
}


.active {
    background-color: dodgerblue !important;

    color: white;  !important;
.text-secondary

}
