<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>XHR+Fetch</title>
</head>
<body>


<script>

    const requestUrl = ' http://localhost:8088/admin/users'
    function sendRequest(method, url, body=null) {

        const  headers ={
            'Content-Type': 'application/json'
        }
       return fetch(url, {
           method:method,
           body:JSON.stringify(body),
           headers:headers
       }).then(response=>{
           if(response.ok) {
               return response.json()
           }
           return response.json().then(error=>{
           const  e= new Error('Что то пошло не так')
               e.data=error
               throw e
         })
       })
    }


        // sendRequest('GET', requestUrl)
        // .then(data=>console.log(data))
        // .catch(err => console.log())

    const body ={
        name:'Vladilen',
        age:'26'
    }

    sendRequest('POST', requestUrl, body)
        .then(data=>console.log(data))
        .catch(err => console.log())


</script>
</body>
</html>