<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:insert="~{fragment/fragmentsGeneralView.html :: styleheader}"></div>



    <title>New user</title>


</head>
<body>

<!--Навигационная верхняя панель-->
<div th:insert="~{fragment/fragmentsGeneralView.html :: navbar}"></div>



<div class="container-fluid ">
    <div class="row content">
        <div class="col-lg-2 bg-light field ">


            <div class="row">
                <div class="nav-col  btn-group-vertical btn-group-toggle btn-block">
                    <button type="button" class="nav-item btn btn-white-50 active">
                        <a class="nav-link  nav-fill" href="/admin">Admin</a>
                    </button>
                    <button type="button" class="nav-item btn btn-white-50 ">
                        <a class="nav-link  nav-fill  " href="/user">User</a>
                    </button>
                </div>
            </div>
        </div>


        <!--Table-->
        <div class="col-sm-10 field ">
            <div class="row mt-2 ml-1">
                <h3>Admin panel </h3>
            </div>


            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link " href="/admin">Users tab</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/addUser">New User</a>
                </li>

            </ul>

            <div class="container-fluid border-top border-left border-right border-grey width: 100%">
                <label class="mt-1">Add new user</label>
            </div>


            <!--             рекомендуется использовать валидацию со стороны клиента-->
            <div class="container-fluid border border-grey bg-white">
                <div class="row">
                    <div class="col"></div>
                    <div class="col">


                        <form class="needs-validation" novalidate name="data[]"
                              th:action="@{/admin/addUser}" method="post">
                            <div class="form-group text-center">
                                <label for="validationCustom01">First name</label>
                                <input type="text" class="form-control" id="validationCustom01"
                                       th:min="4" name="firstName" required
                                >
                            </div>
                            <div class="form-group text-center">
                                <label for="validationCustom02">Last name</label>
                                <input type="text" class="form-control" id="validationCustom02"
                                       th:min="4" name="lastName" required
                                >
                            </div>

                            <div class="form-group text-center">
                                <label for="validationCustom03">Age</label>
                                <input type="number" class="form-control" id="validationCustom03"
                                       name="age" required
                                >
                            </div>
                            <div class="form-group text-center">
                                <label for="validationCustom04">email</label>
                                <input type="email" class="form-control" id="validationCustom04"
                                       name="email" required
                                >
                            </div>
                            <div class="form-group text-center">
                                <label for="validationCustom05">Password</label>
                                <input type="password" class="form-control" id="validationCustom05"
                                       name="password" required
                                >
                            </div>

                            <div class="form-group text-center">
                                <select multiple class="custom-select" name="role[]" size="3">
                                    <option th:each="role:${roles}"
                                            th:text="${role.getRoleName()}">
                                    </option>
                                </select>
                            </div>


                            <div class="form-row text-center">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-success mt-4 ">Add new user</button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div><!--col-9-->
</div><!--row-->
</div><!--container-->







<div th:insert="~{fragment/fragmentsGeneralView.html:: stylefooter}"></div>


</body>
</html>