<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragment/headerBootstrapStyly.html :: styleheader}"></div>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!--// говорим системе что нужно считывать плотность пикселей устройства
    // и при необходимости делать шрифт крупней-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <!--// Подключаем собственно стили  bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>CRUD APP</title>
</head>
<body>

<div th:insert="~{fragment/navbar.html :: navbar}"></div>

<div class="container-sm">
    <div class="row">
        <div class="col" th:align="left">
            <ul class="list-group  ml-6,mt-6">

                <tr th:each="role : ${user.getRoles()} ">
                    <td><span th:text="${role.getRoleName()}">RoleName </span></td>
                </tr>
            </ul>

            <p class="down">
                <a th:href="@{/user}" th:text="PersonalPage">PersonalPage</a>
                <span th:text="#{user.userList}"></span>
            </p>
        </div><!--col-->


        <div class="col-9">
            <h3 style="text-align: center; color: green">
                <a href="/admin/addUser">Add User</a>

            <table border="1">
                <tbody>
                <tr>
                    <td th:text="ID">ID</td>
                    <td th:text="#{user.firstName}">Name</td>
                    <td th:text="#{user.lastName}">Last Name</td>
                    <td th:text="#{user.age}">Age</td>
                    <td><span th:text="#{user.email}"> Email </span></td>
                    <td><span th:text="#{user.password}"> Password </span></td>
                    <td th:text="#{user.action}">Action</td>
                </tr>
                <tr th:each="user : ${users}">
                    <td><span th:text="${user.getId()}">ID </span></td>
                    <td><span th:text="${user.getFirstName()}">Name </span></td>
                    <td><span th:text="${user.getLastName()}"> LastName </span></td>
                    <td><span th:text="${user.getAge()}"> Age </span></td>
                    <td><span th:text="${user.getEmail()}"> Email </span></td>
                    <td><span th:text="${user.getPassword()}"> Password </span></td>
                    <td>
                        <a href="editUser.html" th:href="@{/admin/editUser(id=${user.getId()})}">edit</a>
                        <a href="delete.html" th:href="@{/admin/delete(id=${user.getId()})}"> delete </a>
                    </td>
                </tr>
                </tbody>
            </table>
            </h3>
        </div><!--col-9-->
    </div><!--row-->
</div><!--container-->
</body>
</html>