<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>
</head>

<body>
<div>
    <ul>
        <li><a th:href="@{/logout}" th:text="Logout">logout</a></li>
        <li><a th:href="@{/user}" th:text="PersonalPage">PersonalPage</a></li>
    </ul>
</div>

<h1 style="text-align: center; color: black">
    <span th:text="#{user.userList}"></span>
</h1>

<br/><br/>

<h3 style="text-align: center; color: green">
    <a href="/users/addUser">Add User</a>
</h3>

<table th:align="center" border="1" style="width: 300px">
    <tbody>
    <tr>
        <td th:text="ID">ID</td>
        <td th:text="#{user.firstName}">Name</td>
        <td th:text="#{user.lastName}">Last Name</td>
        <td th:text="#{user.email}">E-mail</td>
        <td><span th:text="#{user.login}"> Login </span></td>
        <td><span th:text="#{user.password}"> Password </span></td>
        <td th:text="#{user.action}">Action</td>
    </tr>
    <tr th:each="user : ${users}">
        <td><span th:text="${user.getId()}">ID </span></td>
        <td><span th:text="${user.getFirstName()}">Name </span></td>
        <td><span th:text="${user.getLastName()}"> LastName </span></td>
        <td><span th:text="${user.getEmail()}"> Email </span></td>
        <td><span th:text="${user.getLogin()}"> Login </span></td>
        <td><span th:text="${user.getPassword()}"> Password </span></td>
        <td>
            <a href="editUser.html" th:href="@{/admin/editUser(id=${user.getId()})}">edit</a>
            <a href="delete.html" th:href="@{/admin/delete(id=${user.getId()})}"> delete </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>